# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: node

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-18.04

    strategy:
      matrix:
        node-version: [14.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm ci
    - run: npm run build --if-present
    - run: npm test
    - name: send message
      uses: appleboy/telegram-action@0.0.3
      env:
        TELEGRAM_TOKEN: ${{ secrets.telegram_token }}
        TELEGRAM_TO: ${{ secrets.telegram_to }}
      with:
        message: |
          ${{ github.repo }} repo with ${{ github.event_name }} event triggered,
          final status is {{ job.status }}.
